<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>563699949373-079op78vmjarm1109jkr4lmbpbcabf0v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.563699949373-079op78vmjarm1109jkr4lmbpbcabf0v</string>
	<key>API_KEY</key>
	<string>AIzaSyA9aH2DCQqwvWshP9uW11J0vxe6r2GQs3Y</string>
	<key>GCM_SENDER_ID</key>
	<string>563699949373</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>messengerOS.TextFly</string>
	<key>PROJECT_ID</key>
	<string>messenger-textfly</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-textfly.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:563699949373:ios:6d8466b51c7c9bcc16ef54</string>
</dict>
</plist>